<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"

		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 verbose="true"
		 cacheResult="true"
		 backupGlobals="false"
>
	<coverage includeUncoveredFiles="false" processUncoveredFiles="false">
		<include>
			<directory suffix=".php">../advent-of-code</directory>
		</include>
	</coverage>

	<!-- schneller Coverage mit Xdebug Whitelisting: https://thephp.cc/news/2019/01/faster-code-coverage -->
	<!-- Aufruf: phpunit.phar -c phpunit-ppsneo.xml - -dump-xdebug-filter xdebug-filter.php - -testsuite ppsneo -->
	<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
	<testsuites>
		<testsuite name="AdventOfCode">
			<directory suffix="Test.php">Advent-Of-Code</directory>
		</testsuite>
		<testsuite name="Fest">
			<directory suffix="Test.php">Festo</directory>
		</testsuite>
	</testsuites>



	<!-- https://hackernoon.com/generating-code-coverage-with-phpunite-and-phpdbg-4d20347ffb45 -->
	<logging>
		<!--		<log type="coverage-clover" target="./_reports/coverage.xml"/>-->
		<!--		<log type="coverage-php" target="./_reports/coverage.serialized"/>-->
		<!--		<log type="coverage-html" target="./_reports/coverage" lowUpperBound="35" highLowerBound="70" />-->
		<testdoxHtml outputFile="./_reports/testdox.html"/>
		<testdoxText outputFile="./_reports/testdox.txt"/>
		<!--		<testdoxText outputFile="php://stdout"/>-->
		<!-- Visu hier https://marmelab.com/phpunit-d3-report/ -->
		<junit outputFile="./_reports/junit-logfile.xml"/>
	</logging>

	<php>
		<ini name="date.timezone" value="Europe/Berlin"/>
		<ini name="memory_limit" value="-1"/>
	</php>

</phpunit>
