<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
		 bootstrap="test/bootstrap.php"
		 beStrictAboutOutputDuringTests="false"
         cacheResult="true"
		 backupGlobals="false"
         cacheDirectory="test/cache"
         defaultTestSuite="AdventOfCode2025"
>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

<!--	<coverage-->
<!--			  includeUncoveredFiles="false"-->
<!--			  pathCoverage="false"-->
<!--			  ignoreDeprecatedCodeUnits="true"-->
<!--			  disableCodeCoverageIgnore="false">-->
<!--		<report>-->
<!--			<html outputDirectory="test/_reports/coverage" lowUpperBound="50" highLowerBound="90"/>-->
<!--		</report>-->
<!--	</coverage>-->

	<testsuites>
		<testsuite name="AdventOfCode2022">
			<directory>test/Advent-Of-Code/2022</directory>
		</testsuite>
		<testsuite name="AdventOfCode2023">
			<directory>test/Advent-Of-Code/2023</directory>
		</testsuite>
        <testsuite name="AdventOfCode2024">
            <directory>test/Advent-Of-Code/2024</directory>
        </testsuite>
        <testsuite name="AdventOfCode2025">
            <directory>test/Advent-Of-Code/2025</directory>
        </testsuite>
		<testsuite name="Festo2022">
			<directory>test/Festo/2022</directory>
		</testsuite>
	</testsuites>

	<logging>
		<junit outputFile="test/_reports/junit-logfile.xml"/>
	</logging>

	<php>
		<ini name="date.timezone" value="Europe/Berlin"/>
		<ini name="memory_limit" value="-1"/>
	</php>

</phpunit>
