name: advent_of_code

volumes:
  sock:

services:
  app:
    build:
      context: php/8.3
    volumes:
      - sock:/sock
      - ../:/var/www
    restart: always
    environment:
      TZ: Europe/Berlin