name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # Checkout Code
    - name: Checkout code
      uses: actions/checkout@v3
    # Setup PHP
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3' # Wählen Sie die benötigte PHP-Version
        tools: composer
    # Cache Composer dependencies
    - name: Cache Composer dependencies
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}-${{ hashFiles('**/composer.json') }}
    # Install Composer dependencies
    - name: Install dependencies
      run: composer install --no-progress --no-suggest --prefer-dist

  lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer

      # Restore Composer dependencies
      - name: Restore Composer dependencies
        uses: actions/cache@v3
        with:
         path: vendor
         key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}-${{ hashFiles('**/composer.json') }}
      - name: Run CS-Fixer suite
        run: php bin/composer.phar run-script php-cs-fixer-dry

  phpunit:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite:
 #         - Festo2022
 #         - AdventOfCode2022
          - AdventOfCode2023
          - AdventOfCode2024
          - AdventOfCode2025

    name: "PHPUnit (${{ matrix.suite }})"

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup PHP
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer
          coverage: xdebug

      # Restore Composer dependencies
      - name: Restore Composer dependencies
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}-${{ hashFiles('**/composer.json') }}

      - name: Run test suite
        run: |
          echo "Running test suite: ${{ matrix.suite }}"
          vendor/bin/phpunit \
          --configuration=phpunit.xml \
          --testsuite=${{ matrix.suite }} \
          --coverage-clover=test/_reports/coverage/clover-${{ matrix.suite }}.xml \

      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "coverage-${{ matrix.suite }}"
          path: test/_reports/coverage

      # Optional: Upload für GitHub Coverage-Auswertung
      - name: Upload LCOV to Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: test/_reports/coverage/clover-${{ matrix.suite }}.xml